<Application resource-id="sickrage"><!-- 'resource-id' must be AppName -->
  <AppID>WHOCARES_GENIEAPP_000099</AppID>
  <Name>SickRage</Name><!-- Any desciptive name, upto 48 chars -->
  <Author>Dustyn Gibson (miigotu)</Author><!-- Authors name. upto 48 chars -->
  <Version>0.1</Version><!-- Version -->
  <RequireReboot>0</RequireReboot><!-- If non-zero, it indicate reboot is required. -->
  <LaunchURL>http://localhost:8888</LaunchURL><!-- 'localhost' will be replaced by framework JS. -->
  <ConfigURL></ConfigURL>
  <ReservePort>8888</ReservePort>
  <DebianPackage>sickrage</DebianPackage>
  <ServiceName>fvapp-sickrage.service</ServiceName>
  <Description lang="en-us">SickRage: Automatic library manager</Description>
</Application>
