[Unit]
Description=Service for SickRage
After=apache2.service

[Service]
Type=forking
ExecStart=/etc/init.d/sickrage start
ExecStop=/etc/init.d/sickrage stop
PIDFile=/var/run/sickrage/sickrage.pid
#KillMode=process
#Restart=always

[Install]
WantedBy=multi-user.target
