Package: sickrage
Version: 0.1
Architecture: all
Maintainer: Dustyn Gibson (miigotu) <miigotu@gmail.com>
Installed-Size: 34488
Depends: python (>= 2.7), git-core (>= 1:1.7.10.4)
Section: contrib/net
Priority: optional
Homepage: https://sickrage.github.io
Description: Automatic Video Library Manager for TV Shows.
 It watches for new episodes of your favorite shows,
 and when a torrent or nzb is posted it does its magic.
